body {
	font-family: 'Public Sans';
	font-size: 18px;
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

.tab {
	display: none;
}

header {
	background: white;
	padding-top: 10px;
	min-height: 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
}

header li {
	float: left;
	display: inline;
	padding: 0 10px 0 10px;
}

header a {
	text-decoration: none;
	color: hsl(233, 8%, 62%);
}

header a:hover {
	border-bottom: 4px solid;
	border-image: linear-gradient(
		to right,
		hsla(136, 64%, 45%, 0.904),
		hsla(192, 70%, 51%, 0.671)
	);
	border-image-slice: 1;
	padding-bottom: 20px;
	transition: ease 0.3s;
}
.request-button {
	padding: 10px 20px 10px 20px;
	width: 170px;
	border-radius: 20px;
	background: linear-gradient(
		to right,
		hsla(136, 64%, 45%, 0.904),
		hsla(192, 70%, 51%, 0.671)
	);
	border: 0;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.request-button:hover {
	filter: brightness(120%) grayscale(50%);
}

.container {
	display: flex;
	justify-content: space-between;
	background-color: hsl(0, 0%, 98%);
}

.bg-image {
	background-image: url('./images/bg-intro-desktop.svg');
	background-size: 73em 52em;
	background-position: 0em -8em;
	background-repeat: no-repeat;
}

.bg-text {
	margin-left: 8em;
	margin-bottom: 25em;
	margin-top: 12.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.image-size {
	height: 50em;
	padding-left: 11em;
	object-fit: none;
	object-position: 3.8em -4.44em;
}

.image-mob {
	display: none;
}

.next-gen-heading {
	color: hsl(233, 26%, 24%);
	font-size: 2.5em;
	margin: 0;
}

.next-gen-para {
	color: hsl(233, 8%, 62%);
	line-height: 150%;
}

.choose-easybank-section {
	background-color: hsl(220, 16%, 96%);
	margin-top: -12em;
	display: flex;
	flex-direction: column;
}

.choose-us-div {
	margin-left: 7em;
	width: 50%;
	margin-top: 5.5em;
	flex-wrap: nowrap;
}

.choose-easybank-heading {
	color: hsl(233, 26%, 24%);
	font-size: 2em;
	font-weight: 100;
}

.why-choose-card-container {
	display: flex;
	justify-content: space-between;
	margin-left: 6.4em;
	margin-right: 7em;
	margin-bottom: 5.5em;
	flex-wrap: nowrap;
}

.why-choose-card {
	display: flex;
	flex-direction: column;
	padding: 10px;
	color: hsla(233, 26%, 24%, 0.815);
}

.why-choose-para {
	color: hsl(233, 8%, 62%);
	line-height: 150%;
}

.why-choose-card div {
	font-size: 16px;
}

.why-choose-icon {
	width: 60px;
}

.latest-articles {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: hsl(0, 0%, 98%);
	padding: 100px;
}

.latest-articles-cards {
	display: flex;
	justify-content: space-between;
}

.article-card-container {
	display: flex;
	flex-direction: column;
	width: 17em;
	background-color: white;
	font-size: 15px;
	color: hsl(233, 26%, 24%);
}

.article-card-container h5,
.article-card-container h3,
.article-card-container p {
	margin: 0;
	padding: 5px;
}

.article-card-container h5 {
	font-size: 12px;
	color: hsl(233, 8%, 62%);
}

.article-card-container p {
	color: hsl(233, 8%, 62%);
	font-size: 15px;
}

.article-card-image {
	display: flex;
	flex-direction: column;
}

.article-image {
	width: 17em;
	height: 200px;
}

.article-card-text {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.article-card-text a {
	text-decoration: none;
	color: hsl(233, 8%, 62%);
}

.article-card-text a:hover {
	color: deepskyblue;
}

.article-card-container h3 p {
	font-size: 30px;
}

footer {
	background-color: hsl(233, 26%, 24%);
	min-height: 7em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
	color: white;
}

.footer-div-left {
	display: flex;
	justify-content: space-around;
	width: 35%;
}

.footer-div-left-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
}

.footer-div-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: 10px;
	color: hsl(233, 8%, 62%);
	font-size: 12px;
	width: 35%;
}

.icon-container {
	display: flex;
	justify-content: space-between;
}

.pad {
	padding: 8px;
}

.social-icon:hover {
	cursor: pointer;
	fill: rgb(0, 255, 0);
}

.footer-div-left-inner-text {
	display: flex;
	flex-direction: column;
	padding: 10px;
	font-size: 12px;
}

footer a {
	text-decoration: none;
	color: hsl(233, 8%, 62%);
}

footer a:hover {
	color: hsl(192, 70%, 51%);
}

footer img:hover {
	color: hsl(192, 70%, 51%);
}

#hamburger-icon {
	margin: auto 0;
	display: none;
	cursor: pointer;
}

#hamburger-icon div {
	width: 35px;
	height: 3px;
	background-color: hsl(233, 8%, 62%);
	margin: 6px 0;
	transition: 0.4s;
}

.open .bar-1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar-2 {
	opacity: 0;
}

.open .bar-3 {
	-webkit-transform: rotate(45deg) translate(-6px, -8px);
	transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.mobile-menu {
	display: none;
	position: absolute;
	top: 100px;
	background-color: white;
	line-height: 200%;
	padding: 10px;
	left: 5%;
	right: 5%;
	height: calc(100vh - 50ph);
	width: 85%;
	border-radius: 8px;
}

.mobile-menu li {
	margin-bottom: 10px;
}

@media only screen and (max-width: 750px) {
	header nav,
	header button {
		display: none;
	}

	#hamburger-icon {
		display: block;
	}

	header {
		width: 100%;
	}

	header a:hover {
		padding-bottom: 20px;
	}

	body {
		overflow-x: hidden;
	}

	.container {
		flex-direction: column;
		width: 100vw;
		margin-top: 75px;
		padding: 0;
	}

	.bg-image {
		background-image: url('./images/bg-intro-desktop.svg');
		background-repeat: no-repeat;
	}

	.image-size {
		display: block;
		width: 74vw;
		margin-left: auto;
		object-fit: none;
		object-position: 0em -8em;
	}

	.image-mob {
		display: none;
	}

	.bg-text {
		padding: 10px;
		text-align: center;
		margin: auto;
		margin-bottom: 4em;
		margin-top: -4em;
		width: 80%;
		align-items: center;
		order: 2;
	}

	.choose-easybank-section {
		margin-top: 0;
		justify-content: center;
		align-items: center;
		width: 100vw;
	}

	.choose-us-div {
		margin: auto;
		width: 80%;
		margin-top: 4em;
	}

	.why-choose-card-container {
		flex-direction: column;
		width: 85%;
		margin: auto;
		margin-bottom: 4em;
		margin-top: 2em;
		text-align: center;
	}

	.why-choose-card {
		align-items: center;
	}

	.choose-easybank-heading {
		text-align: center;
	}

	.why-choose-para {
		text-align: center;
	}

	.latest-articles {
		width: 100vw;
		padding: 0;
	}

	.latest-articles-cards {
		flex-direction: column;
		width: 100vw;
	}

	.article-card-container {
		width: 90vw;
		margin: auto;
		margin-bottom: 2em;
	}

	.article-card-text {
		display: flex;
		flex-direction: column;
		font-size: 20px;
	}

	.article-image {
		width: 90vw;
		height: 50vw;
		margin: auto;
	}

	footer {
		flex-direction: column;
		align-items: center;
		width: 100vw;
		padding: 0;
	}

	.footer-div-left {
		flex-direction: column;
		width: 100vw;
		align-items: center;
	}

	.footer-div-left-inner {
		align-items: center;
		justify-content: space-around;
		padding: 10px;
		text-align: center;
		margin-bottom: -1em;
	}

	.footer-div-left-inner-text {
		align-items: center;
		font-size: 15px;
		margin-bottom: -1em;
		line-height: 1%;
		margin-top: -0.5em;
	}

	.pad {
		padding-top: 20px;
	}

	.footer-div-right {
		align-items: center;
		padding: 10px;
		width: 70%;
	}
}

@media only screen and (min-width: 750px) and (max-width: 1400px) {
	header nav,
	header button {
		display: block;
		margin-top: -0.5em;
	}

	#hamburger-icon {
		display: none;
	}

	.main {
		display: none;
	}

	.tab {
		display: block;
	}

	header {
		width: 100%;
	}

	header a:hover {
		padding-bottom: 20px;
	}

	body {
		overflow-x: hidden;
	}

	.container {
		flex-direction: column;
		width: 100vw;
		margin-top: 75px;
		padding: 0;
	}

	.bg-image {
		background-image: url('./images/bg-intro-desktop.svg');
		background-repeat: no-repeat;
	}

	.image-size {
		display: block;
		width: 74vw;
		margin-left: auto;
		object-fit: none;
		object-position: 0em -8em;
	}

	.image-mob {
		display: none;
	}

	.bg-text {
		padding: 10px;
		text-align: center;
		margin: auto;
		margin-bottom: 4em;
		margin-top: -4em;
		width: 80%;
		align-items: center;
		order: 2;
	}

	.choose-easybank-section {
		background-color: hsl(220, 16%, 96%);
		margin-top: 0em;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.choose-easybank-heading {
		color: hsl(233, 26%, 24%);
		font-size: 2em;
		font-weight: 100;
		text-align: center;
	}

	.choose-us-div {
		margin-left: 0em;
		width: 50%;
		margin-top: 4em;
	}

	.choose-us-div p {
		text-align: center;
	}

	.why-choose-card-container {
		padding: 1em;
		display: flex;
		justify-content: space-between;
		width: 80vw;
		margin: auto;
		margin-bottom: 2em;
		flex-wrap: nowrap;
	}

	.why-choose-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
	}

	.why-choose-card div {
		font-size: 16px;
		text-align: center;
		padding: 1em;
	}

	.why-choose-icon {
		width: 60px;
	}

	.latest-articles {
		width: 100vw;
		padding: 0;
	}

	.article-row {
		display: flex;
		justify-content: space-around;
	}

	.latest-articles-cards {
		flex-direction: row;
		width: 100vw;
		flex-wrap: wrap;
		justify-content: center;
	}

	.article-card-container {
		width: 40vw;
		margin: 1em;
		margin-bottom: 2em;
	}

	.article-card-text {
		display: flex;
		flex-direction: column;
		font-size: 20px;
	}

	.article-image {
		width: 40vw;
		height: 25vw;
	}

	footer {
		align-items: center;
		width: 100vw;
		padding: 0;
		justify-content: space-around;
	}

	.footer-div-left {
		width: 100%;
		align-items: center;
		margin-left: 2.5em;
		justify-content: space-around;
	}

	.footer-div-left-inner {
		align-items: center;
		justify-content: space-around;
		padding: 10px;
		text-align: center;
		margin-bottom: -1em;
	}

	.footer-div-left-inner-text {
		align-items: center;
		font-size: 15px;
		margin-bottom: -1em;
		line-height: 1%;
		margin-top: -0.5em;
	}

	.pad {
		padding-top: 20px;
	}

	.footer-div-right {
		align-items: center;
		padding: 10px;
		width: 65%;
		justify-content: center;
		margin-top: 2em;
	}
}

@media only screen and (max-width: 500px) {
	header nav,
	header button {
		display: none;
	}

	#hamburger-icon {
		display: block;
	}

	header {
		width: 100%;
	}

	header a:hover {
		padding-bottom: 4px;
	}

	body {
		overflow-x: hidden;
		width: 100vw;
	}

	.container {
		display: flex;
		flex-direction: column;
		background-color: hsl(0, 0%, 98%);
		width: 100vw;
		margin-top: 75px;
		padding: 0;
	}

	.bg-image {
		background-image: url('./images/bg-intro-mobile.svg');
		background-size: 120vw 80vh;
		background-repeat: no-repeat;
		order: 1;
	}

	.image-size {
		display: none;
	}

	.image-mob {
		width: 100%;
		height: 60vh;
		display: block;
		margin-top: -50px;
	}

	.bg-text {
		padding: 10px;
		text-align: center;
		margin: auto;
		margin-bottom: 7em;
		margin-top: 3em;
		width: 80%;
		align-items: center;
		order: 2;
	}

	.choose-easybank-section {
		margin-top: -2em;
		justify-content: center;
		align-items: center;
		width: 100vw;
	}

	.choose-us-div {
		margin: auto;
		width: 80%;
		margin-top: 4em;
	}

	.why-choose-card-container {
		flex-direction: column;
		width: 85%;
		margin: auto;
		margin-bottom: 4em;
		margin-top: 2em;
		text-align: center;
	}

	.why-choose-card {
		align-items: center;
	}

	.choose-easybank-heading {
		text-align: center;
	}

	.why-choose-para {
		text-align: center;
	}

	.latest-articles {
		margin-top: -2em;
		width: 100vw;
		padding: 0;
	}

	.latest-articles-cards {
		flex-direction: column;
		width: 100vw;
	}

	.article-card-container {
		width: 100vw;
		margin-left: 0;
	}

	.article-card-text {
		display: flex;
		flex-direction: column;
		margin: 2em;
	}

	.article-image {
		width: 85vw;
		margin: auto;
	}

	footer {
		flex-direction: column;
		align-items: center;
		width: 100vw;
		padding: 0;
	}

	.footer-div-left {
		flex-direction: column;
		width: 100vw;
		align-items: center;
	}

	.footer-div-left-inner {
		align-items: center;
		justify-content: space-around;
		padding: 10px;
		text-align: center;
		margin-bottom: -1em;
	}

	.footer-div-left-inner-text {
		align-items: center;
		font-size: 15px;
		margin-bottom: -1em;
		line-height: 1%;
		margin-top: -0.5em;
	}

	.pad {
		padding-top: 20px;
	}

	.footer-div-right {
		align-items: center;
		padding: 10px;
		width: 70%;
	}
}
